h2{
Color: darkblue;

font-size: 28px;

margin-bottom: 10px;

}
h3{
color:darkgreen;

font-size: 24px;

margin-bottom:8px;

}

hr{

border: 1px solid lightgray;

margin: 20px 0;

}

p{

font-family: Arial, sans-serif;

line-height: 1.5;

color: #333;

}

#main-content {

background-color: #fafafa;

padding: 20px;

border-radius: 5px;

}



p span{

color: red;

font-weight: bold;
}
time [datetime] {

font style: italic;

color: gray;

{

div> img {

max-width: 50%

height: auto;

border-radius: 10px;

margin: auto;
}
a: hover{

color: orange;

text-decoration: underline;

}

h2,h3{

text-transform: uppercase;

}